In [1]:
from flask import Flask, jsonify, render_template
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine('sqlite:///C:\\Users\\zulim2\\Downloads\\Analytics\\World-Cup-Analysis\\data\\world_cup_db.db', echo=False)
conn = engine.connect()

Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)

In [3]:
year = 1994

In [12]:
df = pd.DataFrame(engine.execute(f"SELECT team as Country, abrv as Abreviation, WC_{year}, FIFA_{year} FROM world_cup_db WHERE WC_{year} > 0").fetchall())
df

                      0    1     2     3
0             Argentina  ARG  10.0   8.0
1                   USA  USA  14.0  23.0
2                Brazil  BRA   1.0   3.0
3               Romania  ROU   6.0   7.0
4               Belgium  BEL  11.0  27.0
5               Bolivia  BOL  21.0  43.0
6                Mexico  MEX  13.0  16.0
7               Germany  GER   5.0   1.0
8                 Italy  ITA   2.0   4.0
9                 Spain  ESP   8.0   5.0
10          Netherlands  NED   7.0   2.0
11               Sweden  SWE   3.0  10.0
12               Russia  RUS  18.0  19.0
13          Switzerland  SUI  15.0  12.0
14       Korea Republic  KOR  20.0  37.0
15             Colombia  COL  19.0  17.0
16             Cameroon  CMR  22.0  24.0
17              Nigeria  NGA   9.0  11.0
18             Bulgaria  BUL   4.0  29.0
19  Republic of Ireland  IRL  16.0  14.0
20              Morocco  MAR  23.0  28.0
21               Norway  NOR  17.0   6.0
22               Greece  GRE  24.0  31.0
23         Saudi Arabia  KSA  12.0  34.0